td
{
	padding: 3px;
}


.title
{
	width: 200px!important;
}

td input
{
	width: 100%;
	padding: 2px;
}

.form-control
{
	border: none;
}

.main
{
	background-color: #444444;
	color: white;
}

.spacer
{
	width: 30px;
	text-align: center;
}

.print
{
	padding: 10px!important;
}

.print span
{
	padding-left: 20px;
}