    @font-face {font-family: MyWebfont; src: url(../../../../css/TheMix_cls_5_.eot);}
    @font-face {font-family: MyWebfont; src: url(../../../../css/TheMix_cls_5_.woff) format("woff");}
    
    
body{	
	color:#666666;
	font-size:12px;
	font-family:MyWebfont, sans-serif;
	background: #eeeeee;
}
body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	margin:0px;
	padding:0px;
}
.trenner {
	width: 990px;
	background: #eeeeee;
	display: block;
	height: 20px;
	clear: both;
	position: absolute;
	left: 0;
}
.cb input[type="checkbox"]+label  {
			-webkit-border-radius: 5px;
		} 
.hl {
	margin: 15px 0 15px 0;
}
.pfeil {
	background: url(../pfeil.png) no-repeat;
	width: 198px;
	height: 39px;
	margin: 18px 0 0 370px;
	display: block;
}
.abst, .abst2 {
	width: 100%;
	height: 40px;
	clear: both;
	display: block;
}
.abst2 {
	height: 20px;
}
.main, #main-container
{

}
.block1 {
	border: solid 1px;
	background: #fff;
}
.row1
{
    color: #000000;
    font-size: 25px;
    font-weight: bold;

}
.row2
{
  margin-top :20px;
}
.row2-1-1 .title, .grau
{
   float :left;
   width:70px;
   color: #fff;
   padding: 10px 0 10px 14px;
   font-weight: normal;
   border-right: 1px solid #fff;
   background: #80bc1e;
}
.row2-1
{
	width: 970px;
}
.row2-1-2
{
   clear:left;

}
.row2-1-2 .title
{
   float :left;
   padding: 10px 0 10px 14px;
   border-right: 1px solid #fff;
   border-bottom: 1px solid #fff;
   background: #eeeeee;
   width: 70px;
}
.row2-1-2  .option
{
   background: #eeeeee !important;

}
.grau {
   color: #fff;
   padding: 10px 0 10px 14px;
   font-weight: normal;
   border-right: 1px solid #fff;
   background: #eeeeee !important;
}
.green {
   color: #fff;
   padding: 10px 0 10px 14px;
   font-weight: normal;
   border-right: 1px solid #fff;
   background: #80bc1e !important;
}

.row2-1-2  .option .ort
{

}


.row2-1-3
{
   clear:left;
   margin-top: 15px;
   background: #eeeeee;
}
.row2-1-3 .title
{
   float :left;
}
.row2-1-3  .option
{
  margin-left :90px ;
}
.row2-1-3  .option .ort
{
   width:80px;
}
.row2-2
{
  clear :left;
   margin-top: 20px;
   float: left;
}
.row2-2 .option {

	float: left;
}
.row2-2 .Geschlecht {
	float: left;
}
.row2-2 .links1 { 
 float: left; 
	
}

.row2-2 fieldset
{
   float :left;
   width:120px;
}
.row2-2 .fieldset
{
   margin-left: 170px;
    width: 595px;
	float:left;
	height: 83px;
	-webkit-margin-end: 0;
	
	-webkit-margin-start: 1;


-webkit-padding-before: 1;
-webkit-padding-start: 1;
-webkit-padding-end: 0;
-webkit-padding-after: 1;
min-width: 300px; 
}

.row2-2 .row2-2-1
{

}
.row2-2 .row2-2-1 .title
{
   float :left;
   width :70px;
      color: #fff;
   padding: 10px 0 10px 14px;
   font-weight: normal;
   border-right: 1px solid #fff;
   background: #80bc1e !important;

}
.row2-2 .row2
{
  clear :left;
}
.row2-2 .row2-2-2
{
clear: left;
   margin-top: 30px;
}
.row2-2 .row2-2-2 .unter
{
  float :left;
  width :70px;
}
.row3
{
  clear: both;
}
.row3 .title
{
	float: left;
	width: 80px;
   color: #555555;
   padding: 10px 0 10px 14px;
   font-weight: normal;
   border-right: 1px solid #fff;
   background: #eeeeee;
}
.head {   background: #80bc1e !important;
color: #fff !important;
}
.row3 .title-large
{
  width : 170px;
  
}
.row3 .title-med
{
  width : 120px;
  
}
.row3 .title-med2
{
  width : 110px;
  
}
.endcol
{
   border-right :1px solid #888888;
}
.firstcol
{
   width:175px ! important;
   text-align: left !important;
   background-color: #CCCCCC;
   
}
.endrow3
{

  width: 970px;
}
.formError .formErrorContent {
    background: none repeat scroll 0 0 #EE0101;
    border: 2px solid #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 6px #000000;
    color: #FFFFFF;
    font-size: 11px;
    padding: 4px 10px;
    width: 150px;
}
.head
{
  background-color: #CCCCCC;
   height:40px !important;
 
}

.title, .faktor, .summe, .myfont { font-family:MyWebfont, sans-serif !important; font-size: 13px; }
.faktor, .summe { padding-top: 4px; color: #fff; }
.faktor input, .summe input { margin-top: -4px !important;  }
.faktorrow, .bggreen { background-color: #80bc1e; }
.txtgreen { color: #80bc1e; }
.nobord { border: none; }
.txtongreen { }
.greenbord { border: 1px solid #78ab25; text-align: center }
.row { padding: 0 !important; margin-top: 0 !important; margin-bottom: 0 !important }
input.ranking { width: 49%;  text-align: center; font-size: 14px; font-weight: bold; border: none; }